<div class="navbar bg-black">
  <%= cl_image_tag("cocktail_ggegm6.jpg", width: 50, gravity: :face, crop: :thumb) %>
  <div><%= link_to 'cocktails', cocktails_path, class: 'btn btn-primary mx-2 my-2'%></div>
  <div><%= link_to 'add a cocktail', new_cocktail_path, class: 'btn btn-primary mx-2 my-2' %> </div>
</div>
