<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3">
      <h2>Add a new cocktail</h2>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>




